[submodule "backend"]
	path = backend
	url = https://github.com/konradciok/new-tours-mar26-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/konradciok/heritage-travels.git
